.parent{
 width: 300px;
 height: 300px;
 border: 2px solid red;
 display: flex;
 flex-direction: row;
 justify-content:center;
/* flex-wrap: wrap-reverse;
align-content: center; */
gap: 5px;
}
.child{
    height: 50px;
    width: 50px;
    background-color: red;
    color: white;
    font-size: 24px;
   border: 1px solid white;
}
.child1{
    order: 2;
    /* align-self: end; */
    flex-grow: 2;
}
.child2{
  order: 3;
  flex-grow: 3;
}
.child3{
    order: 1;
    flex-shrink: 2;
}
